body{
    text-align: center;

}

table, th, td {
  background-color: #10101020;
    border-collapse: collapse;
 margin: auto;

  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  th {
   
  }
  .th-bg{
    background-color: #ceceec;
  }

  .th-bg2{
    background-color: #6350f59e;

  }
  .th-bg3{
    background-color: #f3ebeb;
    font-style:italic
  }

  .formclass{
    
    display: inline-block;
  }
  .failAlert{
    background-color: #c74f4f;
    font-size: large;
  }